h1 {
  text-align: center;
}
.main-content {
  display: flex;
}

.queue-container {
  background-color: #cc2900;
  flex: 1;
  padding: 2rem;
}

.current-container {
  background-color: #d9d9d9;
  flex: 1;
  padding: 2rem;
}
