* {
  color: #F6B352;
}

html {
  zoom: 110%;
}

h1 {
  text-align: center;
  color: #F68657
}

h3 {
  color: #F68657;
}

body {
  background-color: #1F2124;
}

.main-content {
  display: flex;
}

.queue-container {
  background-color: #383A3F;
  flex: 1;
  padding: 2rem;
}

.current-container {
  background-color: #383A3F;
  flex: 1;
  padding: 2rem;
}

#delete:hover {
  cursor: pointer;
}

#delete {
  margin-right: .25em;
}

#next:hover {
  cursor: pointer;
}

#next {
  margin-left: .25em;
}

#student-input {
  min-width: 82%;
  padding: 5 px
}

#student-submit {
  background-color: #F68657;
  max-width: none;
  min-width: none;
}

#logo {
  margin-left: 3em;
}
